<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <taghelper>
    </taghelper>
</head>
<body>
    <header>
        <h1>User Input Application.</h1>
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <footer>
        <h2>ASP.Net First Project</h2>
        <p> Student Name: Francis</p>
        <p>Date: September 22,2024</p>

    </footer>
</body>
</html>
