
@model UserInputApp.Models.InputModel
@{
    ViewData["title"] = "Home Page";
}
<h1>Input Form</h1>
<form asp-action="processInput" method="post">
    <div>
        <label asp-for="InputValue"></label>
        <input asp-for="InputValue" />
        <span asp-validation-for="InputValue" class="text-danger"></span>
    </div>
    <button type="submit"></button>
</form>
@if (Model?.InputResult != null)
{
    <h2>Result: @Model</h2>
}
